/* Compiled from THSC on 2025-12-15 10:14 */
/* common.scss */
.color-primary {
  color: var(--colors-primary-50);
}

/* hgm-marquee-two-column */
.hgm-marquee-two-column__breadcrumbs {
  margin-bottom: 0;
}
.hgm-marquee-two-column .hgm-breadcrumb {
  background-color: transparent;
}
.hgm-marquee-two-column h1.marquee-title:has(+ .marquee-sc) {
  text-wrap: pretty;
  font-size: max(var(--fonts-h2-size-min), min(var(--fonts-h2-size), 4.70588vw));
  line-height: max(var(--fonts-h2-line-height-min), min(var(--fonts-h2-line-height), 4.70588vw));
}

/* hgm-section */
body:not(.page__node__edit) .hgm-section.section-bg-full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.hgm-section.hub-parent-cards-icon .hgm-card {
  border-radius: 1.25rem;
}
.hgm-section.padding-narrow .hgm-section__component-row {
  padding: 0 calc(var(--bs-gutter-x) / 2);
  justify-content: space-between;
  gap: 1.5rem;
}
.hgm-section.padding-narrow .hgm-section__component-row .col {
  padding: 0;
}
.hgm-section.padding-narrow .hgm-section__component-row p {
  text-wrap: pretty;
}
.hgm-section.padding-narrow .hgm-section__component-row .hgm-card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
}
.hgm-section.padding-narrow .hgm-section__component-row .hgm-card__body p:last-of-type {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .hgm-section.padding-narrow .hgm-section__component-row .hgm-card__body p:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .hgm-section.padding-narrow .hgm-section__component-row .hgm-card {
    min-height: 410px;
  }
  .hgm-section.padding-narrow .hgm-section__component-row .hgm-card .hgm-button {
    margin-top: auto;
  }
}
@media (min-width: 992px) {
  .hgm-section.padding-narrow .hgm-section__component-row .hgm-card {
    min-height: 310px;
  }
}
@media (min-width: 1400px) {
  .hgm-section.padding-narrow .hgm-section__component-row .hgm-card {
    min-height: 265px;
  }
}
.hgm-section.card-img-16-9 .hgm-card > img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* hgm-tabs */
form.hgm-tabs.solid .hgm-tabs__radio:checked + label, form.hgm-tabs.solid .hgm-tabs__radio:not(:checked) + label {
  border: 2px solid var(--colors-gray-5);
  background-color: white;
}
form.hgm-tabs.solid .hgm-tabs__radio:not(:checked) + label:hover {
  color: var(--colors-black);
  background-color: transparent;
  border: 2px solid var(--colors-tertiary-50);
}
form.hgm-tabs.solid .hgm-tabs__label {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  form.hgm-tabs.solid .hgm-tabs__label {
    margin-right: 0.5rem;
  }
}
form.hgm-tabs.solid .hgm-tabs__radio:checked + label { /* selected tab */
  border-top: 4px solid var(--colors-tertiary-50);
  background-color: var(--colors-gray-5);
}
form.hgm-tabs.solid .hgm-card__body h3 {
  color: #000;
  margin-bottom: 0.5rem;
  font-size: xx-large;
}
form.hgm-tabs.solid .hgm-card__body h4, form.hgm-tabs.solid .hgm-card__body h5 {
  font-size: 1.15rem;
  margin: 0;
  padding: 0 0 0.75rem;
}
form.hgm-tabs.solid .hgm-card__body h5 {
  margin-bottom: 0.5rem;
}
form.hgm-tabs.solid .hgm-card__body h5 a[href^=tel] {
  position: relative;
  padding-left: 1.5rem;
}
form.hgm-tabs.solid .hgm-card__body h5 a[href^=tel]:hover::before {
  background-color: var(--colors-tertiary-50);
}
form.hgm-tabs.solid .hgm-card__body h5 a[href^=tel]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.01-.24 11.72 11.72 0 0 0 3.69.59 1 1 0 0 1 1 1V21a1 1 0 0 1-1 1A17 17 0 0 1 3 7a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1.01c0 1.27.2 2.49.59 3.69a1 1 0 0 1-.24 1.01z'/></svg>");
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.01-.24 11.72 11.72 0 0 0 3.69.59 1 1 0 0 1 1 1V21a1 1 0 0 1-1 1A17 17 0 0 1 3 7a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1.01c0 1.27.2 2.49.59 3.69a1 1 0 0 1-.24 1.01z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--colors-links-and-buttons-button-background);
}
form.hgm-tabs.solid .hgm-card__body p:has(a.hgm-button) {
  margin-top: 0.5rem;
}
form.hgm-tabs.solid .hgm-tabs__content {
  background-color: var(--colors-gray-5);
}
form.hgm-tabs.solid .hgm-tabs__content .hgm-card {
  margin: 0 0 2rem;
  border: transparent;
}
form.hgm-tabs.solid .hgm-tabs__content .ctas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form.hgm-tabs.solid .hgm-tabs__content .ctas a {
  margin-right: 0;
}
@media (min-width: 768px) {
  form.hgm-tabs.solid .hgm-tabs__content .ctas {
    flex-direction: row;
  }
  form.hgm-tabs.solid .hgm-tabs__content .ctas a {
    flex: 1;
  }
}
form.hgm-tabs.solid .hgm-tabs__content .hgm-button.large {
  font-size: 1.35rem;
  padding: 0.75rem;
}

/* hgm-button */
.hgm-button.mt-3 {
  margin-right: 0.5rem;
}
.hgm-button.mt-3 + .hgm-button:nth-of-type(2) {
  background-color: var(--colors-links-and-buttons-button-label);
  color: var(--colors-links-and-buttons-button-background);
  border-width: 1px;
}
.hgm-button.mt-3 + .hgm-button:nth-of-type(2):hover {
  background-color: var(--colors-gray-70);
  border-color: transparent;
  color: var(--colors-links-and-buttons-button-label);
}

.btn-group .hgm-button {
  margin-right: 0.5rem;
}
.btn-group .hgm-button + .hgm-button:nth-of-type(2) {
  background-color: var(--colors-links-and-buttons-button-label);
  color: var(--colors-links-and-buttons-button-background);
  border-width: 1px;
}
.btn-group .hgm-button + .hgm-button:nth-of-type(2):hover {
  background-color: var(--colors-gray-70);
  border-color: transparent;
  color: var(--colors-links-and-buttons-button-label);
}

.five-btn-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0.5rem;
  margin: 0;
  list-style: none;
  background-color: var(--colors-gray-5);
  width: calc(100vw - 2rem);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.five-btn-section li {
  margin: 0;
}
.five-btn-section li img {
  max-width: 3.25rem;
}
.five-btn-section li a {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  border: 3px solid transparent;
  transition: transform 0.05s ease-in-out, color 0.03s ease-in;
}
.five-btn-section li a:focus, .five-btn-section li a:hover {
  color: var(--colors-primary-50);
  border: 3px solid var(--colors-gray-20);
  transform: scale(1.03);
}
.five-btn-section li a span {
  display: block;
  border-radius: 0.25rem;
  margin-top: -0.25rem;
}
@media screen and (min-width: 768px) {
  .five-btn-section li a span {
    max-width: 140px;
  }
}
@media screen and (min-width: 768px) {
  .five-btn-section {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}