/* Compiled from STAGE on 2025-12-23 07:14 */
/* common */
h1.h1, h2.h1, h3.h1, h4.h1, h5.h1, h6.h1,
h1.h2, h2.h2, h3.h2, h4.h2, h5.h2, h6.h2,
h1.h3, h2.h3, h3.h3, h4.h3, h5.h3, h6.h3,
h1.h4, h2.h4, h3.h4, h4.h4, h5.h4, h6.h4,
h1.h5, h2.h5, h3.h5, h4.h5, h5.h5, h6.h5,
h1.h6, h2.h6, h3.h6, h4.h6, h5.h6, h6.h6,
p.h1, p.h2, p.h3, p.h4, p.h5, p.h6 {
  height: auto !important;
  margin-bottom: 0.75rem;
}
h1.h1:not(:first-child), h2.h1:not(:first-child), h3.h1:not(:first-child), h4.h1:not(:first-child), h5.h1:not(:first-child), h6.h1:not(:first-child),
h1.h2:not(:first-child), h2.h2:not(:first-child), h3.h2:not(:first-child), h4.h2:not(:first-child), h5.h2:not(:first-child), h6.h2:not(:first-child),
h1.h3:not(:first-child), h2.h3:not(:first-child), h3.h3:not(:first-child), h4.h3:not(:first-child), h5.h3:not(:first-child), h6.h3:not(:first-child),
h1.h4:not(:first-child), h2.h4:not(:first-child), h3.h4:not(:first-child), h4.h4:not(:first-child), h5.h4:not(:first-child), h6.h4:not(:first-child),
h1.h5:not(:first-child), h2.h5:not(:first-child), h3.h5:not(:first-child), h4.h5:not(:first-child), h5.h5:not(:first-child), h6.h5:not(:first-child),
h1.h6:not(:first-child), h2.h6:not(:first-child), h3.h6:not(:first-child), h4.h6:not(:first-child), h5.h6:not(:first-child), h6.h6:not(:first-child),
p.h1:not(:first-child), p.h2:not(:first-child), p.h3:not(:first-child), p.h4:not(:first-child), p.h5:not(:first-child), p.h6:not(:first-child) {
  padding-top: 1rem;
}

h1.h1, h2.h1, h3.h1, h4.h1, h5.h1, h6.h1, p.h1 {
  line-height: var(--fonts-h1-line-height-min);
  font-size: var(--fonts-h1-size-min);
  color: var(--colors-base-h1);
  font-family: var(--fonts-h1-family);
  font-weight: var(--fonts-marquee-h1-weight);
}
@media (min-width: 375px) {
  h1.h1, h2.h1, h3.h1, h4.h1, h5.h1, h6.h1, p.h1 {
    font-size: max(var(--fonts-h1-size-min), min(var(--fonts-h1-size), 4.70588vw));
    line-height: max(var(--fonts-h1-line-height-min), min(var(--fonts-h1-line-height), 4.70588vw));
  }
}
h1.h1, h2.h1, h3.h1, h4.h1, h5.h1, h6.h1, p.h1 {
  margin-bottom: 1.5rem;
}

h1.h2, h2.h2, h3.h2, h4.h2, h5.h2, h6.h2, p.h2 {
  line-height: var(--fonts-h2-line-height-min);
  font-size: var(--fonts-h2-size-min);
  color: var(--colors-base-h2);
  font-family: var(--fonts-h2-family);
  font-weight: var(--fonts-marquee-h2-weight);
}
@media (min-width: 375px) {
  h1.h2, h2.h2, h3.h2, h4.h2, h5.h2, h6.h2, p.h2 {
    font-size: max(var(--fonts-h2-size-min), min(var(--fonts-h2-size), 4.70588vw));
    line-height: max(var(--fonts-h2-line-height-min), min(var(--fonts-h2-line-height), 4.70588vw));
  }
}

h1.h3, h2.h3, h3.h3, h4.h3, h5.h3, h6.h3, p.h3 {
  line-height: var(--fonts-h3-line-height-min);
  font-size: var(--fonts-h3-size-min);
  color: var(--colors-base-h3);
  font-family: var(--fonts-h3-family);
  font-weight: var(--fonts-marquee-h3-weight);
}
@media (min-width: 375px) {
  h1.h3, h2.h3, h3.h3, h4.h3, h5.h3, h6.h3, p.h3 {
    font-size: max(var(--fonts-h3-size-min), min(var(--fonts-h3-size), 4.70588vw));
    line-height: max(var(--fonts-h3-line-height-min), min(var(--fonts-h3-line-height), 4.70588vw));
  }
}

h1.h4, h2.h4, h3.h4, h4.h4, h5.h4, h6.h4, p.h4 {
  line-height: var(--fonts-h4-line-height-min);
  font-size: var(--fonts-h4-size-min);
  color: var(--colors-base-h4);
  font-family: var(--fonts-h4-family);
  font-weight: var(--fonts-marquee-h4-weight);
}
@media (min-width: 375px) {
  h1.h4, h2.h4, h3.h4, h4.h4, h5.h4, h6.h4, p.h4 {
    font-size: max(var(--fonts-h4-size-min), min(var(--fonts-h4-size), 4.70588vw));
    line-height: max(var(--fonts-h4-line-height-min), min(var(--fonts-h4-line-height), 4.70588vw));
  }
}

h1.h5, h2.h5, h3.h5, h4.h5, h5.h5, h6.h5, p.h5 {
  line-height: var(--fonts-h5-line-height-min);
  font-size: var(--fonts-h5-size-min);
  color: var(--colors-base-h5);
  font-family: var(--fonts-h5-family);
  font-weight: var(--fonts-marquee-h5-weight);
}
@media (min-width: 375px) {
  h1.h5, h2.h5, h3.h5, h4.h5, h5.h5, h6.h5, p.h5 {
    font-size: max(var(--fonts-h5-size-min), min(var(--fonts-h5-size), 4.70588vw));
    line-height: max(var(--fonts-h5-line-height-min), min(var(--fonts-h5-line-height), 4.70588vw));
  }
}

h1.h6, h2.h6, h3.h6, h4.h6, h5.h6, h6.h6, p.h6 {
  line-height: var(--fonts-h6-line-height-min);
  font-size: var(--fonts-h6-size-min);
  color: var(--colors-base-h6);
  font-family: var(--fonts-h6-family);
  font-weight: var(--fonts-marquee-h6-weight);
}
@media (min-width: 375px) {
  h1.h6, h2.h6, h3.h6, h4.h6, h5.h6, h6.h6, p.h6 {
    font-size: max(var(--fonts-h6-size-min), min(var(--fonts-h6-size), 4.70588vw));
    line-height: max(var(--fonts-h6-line-height-min), min(var(--fonts-h6-line-height), 4.70588vw));
  }
}

.nobr {
  text-wrap: nowrap;
}

.bg-gray-5 {
  background-color: var(--colors-gray-5);
}

.bg-gray-10 {
  background-color: var(--colors-gray-10);
}

.bg-gray-20 {
  background-color: var(--colors-gray-20);
}

.bg-gray-40 {
  background-color: var(--colors-gray-40);
}

.bg-gray-60 {
  background-color: var(--colors-gray-60);
}

.bg-gray-70 {
  background-color: var(--colors-gray-70);
}

.bg-gray-85 {
  background-color: var(--colors-gray-85);
}

.content-type-hg_provider .hgm-provider-main .hgm-provider-main__col-left .hgm-marquee-goto-links li {
  max-width: none;
}
.content-type-hg_provider .hgm-provider-main .hgm-provider-main__col-left .hgm-marquee-goto-links a {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .content-type-hg_provider .hgm-provider-main .hgm-provider-main__col-left .hgm-marquee-goto-links ul li {
    margin-bottom: 0.65rem;
    padding-bottom: 1.75%;
    padding-top: 1.75%;
  }
}
@media (min-width: 768px) {
  .content-type-hg_provider .hgm-provider-main .hgm-provider-main__col-left .hgm-marquee-goto-links ul li {
    height: auto;
    min-height: 70px;
  }
}